[Desktop Entry]
Type=Application
Name=Petrificus Totalus
Exec=/home/dodo/Analyse.sh
Terminal=true
Icon=/home/dodo/Documents/UQAC/SécuInfo_Projet/icon.png
Comment=Lancer le script main_analyse.py avec l'environnement virtuel
Categories=Development;
